<!DOCTYPE html>
<html>

<head>
    <style>
        /*  <span class="metadata-marker" style="display: none;" data-region_tag="css"></span>       Set the size of the div element that contains the map */
        #map {
            height: 800px;
            width: 100%;
            margin-top:4%;
        }
    </style>
    <script type="text/javascript">
        var map;
        var InforObj = [];
        var centerCords = {
            lat: 45.4876879,
            lng: -122.6109854
        };

        var markersOnMap = @Html.Raw(Json.Serialize(Model));

        var x = Console.WriteLine(markersOnMap);

        window.onload = function () {
            initMap();
        };

        function addMarkerInfo() {
            for (var i = 0; i < markersOnMap.length; i++) {
                var contentString = '<div id="content"><h1>' + markersOnMap[i]['title'] +
                    '</h1><p>' + markersOnMap[i]['description'] + '</p></div>';

                const marker = new google.maps.Marker({
                    position: { lat: markersOnMap[i]['lat'], lng: markersOnMap[i]['lng']},
                    map: map
                });

                const infowindow = new google.maps.InfoWindow({
                    content: contentString,
                    maxWidth: 200
                });

                marker.addListener('click', function () {
                    closeOtherInfo();
                    infowindow.open(marker.get('map'), marker);
                    InforObj[0] = infowindow;
                });
                 marker.addListener('mouseover', function () {
                    closeOtherInfo();
                    infowindow.open(marker.get('map'), marker);
                    InforObj[0] = infowindow;
                 });
                 marker.addListener('mouseout', function () {
                    closeOtherInfo();
                    infowindow.close();
                    InforObj[0] = infowindow;
                 });
            }
        }

        function closeOtherInfo() {
            if (InforObj.length > 0) {
                /* detach the info-window from the marker ... undocumented in the API docs */
                InforObj[0].set("marker", null);
                /* and close it */
                InforObj[0].close();
                /* blank the array */
                InforObj.length = 0;
            }
        }

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: centerCords
            });
            addMarkerInfo();
        }
    </script>
</head>
    <body>
    @model List<UrbanZoo.Models.Feature>;

    <h1 id="title">Welcome to UrbanZoo 🦒</h1>
    <div id="map"></div>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw-NRVYJN5qSsNTkATz59olsr0WR5IwVY&callback=initMap&v=weekly"
        defer>
    </script>
    </body>
</html>